@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To WowPe Assignment</h1>
    <p>To check the assignment, please click the New Person button to add information.</p>
    <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
        <a class="btn btn-primary" asp-action="Add" asp-controller="Persons">New Person</a>
    </div>
</div>

